<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="home" class="navbar-brand">
      <h3>RoyalCar</h3>
    </a>
    <div class="collapse navbar-collapse d-flex justify-content-end " id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a [hidden]="!authservice.loged" routerLink="tutorials" class="nav-link"><i class="fa fa-shopping-cart"></i>
            ShowRoom</a>
        </li>
        <li class="nav-item active">
          <a [hidden]="!authservice.loged" routerLink="add" class="nav-link"><i class="fa fa-share-square-o"></i>
            ADD</a>
        </li>
        <li class="nav-item active">
          <a routerLink="login" [hidden]="authservice.loged" class="nav-link"><i class="fa fa-sign-in "></i>


            Login</a>
        </li>
        <li>
          <a [hidden]="!authservice.loged" href="home" class="nav-link"><i class="fa fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
