<div class="bg-img">
  <!-- Logo-->
  <img src="assets/logo.png">
  <br>
  <div class="login">
    <h2 class="login-header">Log in</h2>
    <!-- Login Form starts -->
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
      <!-- Username -->
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
        <input type="username" placeholder="Username" formControlName="username">
      </p>
      <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
        <div *ngIf="formControls.username.errors.required">Username is required</div>
      </div>
      <!-- Email -->
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" placeholder="Email" formControlName="email">
      </p>
      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>
      <!-- Password -->
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
      </p>
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div>
      <!-- Submit -->
      <p>
        <input type="submit" value="Log in">
      </p>
      <!-- Display errors -->
      <div class="displaymsg">{{msg}}</div>
    </form>
    <!-- Login Form ends -->
  </div>
</div>
