.container-fluid {
  margin-block-end: 20px;
}
.bg-img {
  background-image: url("/assets/bgimg.jpg");
  height: 100%;
  background-repeat: repeat;
}
img {
  margin: 20px 0 30px 600px;
}
/* Login */
.login {
  width: 400px;
  margin: 20px 0 0 450px;
  font-size: 16px;
  height: 500px;
  margin-top: -20px;
}
.login p {
  margin-top: 0;
  margin-bottom: 0;
}
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(15, 66, 107);
}
.login-header {
  background: rgb(12, 77, 129);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.login-container {
  background: #ebebeb;
  padding: 12px;
}
.login p {
  padding: 12px;
}
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.login input[type="username"],
.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}
.login input[type="username"],
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}
.login input[type="submit"] {
  background: rgb(1, 29, 51);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.login input[type="submit"]:hover {
  background: #17c;
}
.login input[type="submit"]:focus {
  border-color: #05a;
}
/* Error message */
.has-error[type="username"],
.has-error[type="email"],
.has-error [type="password"],
.has-error p {
  border-color: red;
  color: red;
}
.help-block {
  color: red;
}
.displaymsg {
  color: red;
  text-align: center;
}
