<div class="rq-page-content">
  <div class="rq-content-block gray-bg small-padding-top">
    <div class="container">



      <div class="rq-car-listing-wrapper">
        <div class="rq-listing-choose rq-listing-grid">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="listing-single">
                <div class="listing-img">
                  <img src=".\assets\img\car-listing-grid\car1.jpg" alt="">
                </div>
                <div class="listing-Disponible">
                  <h5 class="car-brand">Mercedes</h5>
                  <h3 class="car-name"><a href="#">Mercedes-Benz-C-Class</a></h3>

                  <ul>
                    <li>Class: <span>Premium</span></li>
                    <li>Air Condition: <span>Yes</span></li>
                    <li>Body Style: <span>Sedan</span></li>
                    <li>Transmission: <span>Automatic</span></li>
                  </ul>
                  <div class="listing-footer">
                    <span><a href="#">Disponible</a></span>
                    <span>
                      <span class="price">$53,200</span>
                    </span>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="listing-single">
                <div class="listing-img">
                  <img src=".\assets\img\car-listing-grid\car2.jpg" alt="">
                </div>
                <div class="listing-Disponible">
                  <h5 class="car-brand">Lamborghini</h5>
                  <h3 class="car-name"><a href="#">Lamborghini Gallardo</a></h3>

                  <ul>
                    <li>Class: <span>Super Car</span></li>
                    <li>Air Condition: <span>Yes</span></li>
                    <li>Body Style: <span>Coupe</span></li>
                    <li>Transmission: <span>Manual</span></li>
                  </ul>
                  <div class="listing-footer">
                    <span><a href="#">Disponible</a></span>
                    <span>
                      <span class="price">$202,000</span>
                    </span>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="listing-single">
                <div class="listing-img">
                  <img src=".\assets\img\car-listing-grid\car3.jpg" alt="">
                </div>
                <div class="listing-Disponible">
                  <h5 class="car-brand">Mercedes</h5>
                  <h3 class="car-name"><a href="#">Mercedes C200 </a></h3>

                  <ul>
                    <li>Class: <span>Premium</span></li>
                    <li>Air Condition: <span>Yes</span></li>
                    <li>Body Style: <span>Sedan</span></li>
                    <li>Transmission: <span>Automatic</span></li>
                  </ul>
                  <div class="listing-footer">
                    <span><a href="#">Disponible</a></span>
                    <span>
                      <span class="price">$64,500</span>
                    </span>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="listing-single">
                <div class="listing-img">
                  <img src=".\assets\img\car-listing-grid\car4.jpg" alt="">
                </div>
                <div class="listing-Disponible">
                  <h5 class="car-brand">Mercedes</h5>
                  <h3 class="car-name"><a href="#">Mercedes-Benz-C-Class</a></h3>

                  <ul>
                    <li>Class: <span>Premium</span></li>
                    <li>Air Condition: <span>Yes</span></li>
                    <li>Body Style: <span>Sedan</span></li>
                    <li>Transmission: <span>Automatic</span></li>
                  </ul>
                  <div class="listing-footer">
                    <span><a href="#">Disponible</a></span>
                    <span>
                      <span class="price">$100,000</span>
                    </span>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="listing-single">
                <div class="listing-img">
                  <img src=".\assets\img\car-listing-grid\car5.jpg" alt="">
                </div>
                <div class="listing-Disponible">
                  <h3 class="car-name"><a href="#">Mercedes</a></h3>
                  <h5 class="car-brand"></h5>
                  <h3 class="car-name"><a href="#">Mercedes-Benz-C-Class</a></h3>
                  <h3 class="car-name"><a href="#"></a></h3>

                  <ul>
                    <li>Class: <span>Premium</span></li>
                    <li>Air Condition: <span>Yes</span></li>
                    <li>Body Style: <span>Sedan</span></li>
                    <li>Transmission: <span>Automatic</span></li>
                  </ul>
                  <div class="listing-footer">
                    <span><a href="#">Disponible</a></span>
                    <span>
                      <span class="price">90,000</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="listing-single">
                <div class="listing-img">
                  <img src=".\assets\img\car-listing-grid\car6.jpg" alt="">
                </div>
                <div class="listing-Disponible">
                  <h5 class="car-brand">JEEP</h5>
                  <h3 class="car-name"><a href="#">JEEP WRANGLER</a></h3>

                  <ul>
                    <li>Class: <span>Off-Road</span></li>
                    <li>Air Condition: <span>No</span></li>
                    <li>Body Style: <span>4X4</span></li>
                    <li>Transmission: <span>Manul</span></li>
                  </ul>
                  <div class="listing-footer">
                    <span><a href="#">Disponible</a></span>
                    <span>
                      <span class="price">$28,295</span>
                    </span>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="listing-single">
                <div class="listing-img">
                  <img src=".\assets\img\car-listing-grid\car77.jpg" alt="">
                </div>
                <div class="listing-Disponible">
                  <h5 class="car-brand">Mercedes</h5>
                  <h3 class="car-name"><a href="#">Mercedes-Benz-E-Class</a></h3>

                  <ul>
                    <li>Class: <span>Premium</span></li>
                    <li>Air Condition: <span>Yes</span></li>
                    <li>Body Style: <span>Sedan</span></li>
                    <li>Transmission: <span>Automatic</span></li>
                  </ul>
                  <div class="listing-footer">
                    <span><a href="#">Disponible</a></span>
                    <span>
                      <span class="price">$84,000</span>
                    </span>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="listing-single">
                <div class="listing-img">
                  <img src=".\assets\img\car-listing-grid\car8.jpg" alt="">
                </div>
                <div class="listing-Disponible">
                  <h5 class="car-brand">AUDI</h5>
                  <h3 class="car-name"><a href="#">AUDI Q7 2016</a></h3>

                  <ul>
                    <li>Class: <span>Premium</span></li>
                    <li>Air Condition: <span>Yes</span></li>
                    <li>Body Style: <span>Sedan</span></li>
                    <li>Transmission: <span>Automatic</span></li>
                  </ul>
                  <div class="listing-footer">
                    <span><a href="#">Disponible</a></span>
                    <span>
                      <span class="price">$70,000</span>
                    </span>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="listing-single">
                <div class="listing-img">
                  <img src=".\assets\img\car-listing-grid\car9.jpg" alt="">
                </div>
                <div class="listing-Disponible">
                  <h5 class="car-brand">Seat</h5>
                  <h3 class="car-name"><a href="#">Seat Leon</a></h3>

                  <ul>
                    <li>Class: <span>Compact</span></li>
                    <li>Air Condition: <span>Yes</span></li>
                    <li>Body Style: <span>Sedan</span></li>
                    <li>Transmission: <span>Manual</span></li>
                  </ul>
                  <div class="listing-footer">
                    <span><a href="#">Disponible</a></span>
                    <span>
                      <span class="price">$40,000</span>
                    </span>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rq-pagination">
          <nav>
            <ul class="rq-pagination-list">
              <li class="pagin-text">
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true"><i class="arrow_left"></i> Prev</span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a class="center-dot" href="#">...</a></li>
              <li><a href="#">12</a></li>
              <li class="pagin-text">
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">next <i class="arrow_right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <br>
      <div class="rq-page-content">
        <div class="rq-content-block">
          <div class="container">
            <div class="rq-contact-us-grid-block">
              <!-- start info portion -->
              <div class="row">
                <div class="col-md-4">
                  <div class="grid-block-single">
                    <i class="icon_mobile"></i>
                    <h3>Phone</h3>
                    <p>Fix : (+216) 72 222 333</p>
                    <p>Mobile : (+216) 20 000 111</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="grid-block-single">
                    <i class="icon_pin_alt"></i>
                    <h3>Address</h3>
                    <p>5th Floor, AH Building Ghazela </p>
                    <p>Ariana , Tunisia</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="grid-block-single">
                    <i class="icon_mail_alt"></i>
                    <h3>Email</h3>
                    <p>info@haddar.com</p>
                    <p>malekhaddar8@gmail.com</p>
                  </div>
                </div>
              </div>
            </div> <!-- end info portion -->
            <div>
            </div>
            <!--             <div class="rq-contact-us-form-content">
 -->
            <div class="listing-Disponible ">

              <h3 class="d-flex justify-content-center">If you got any questions or feed back</h3>
              <div class="d-flex justify-content-center"> Enter your email here
                <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                <button type="button" class="btn btn-primary " (click)="contact()">Done </button>
              </div>
              <br>
              <div *ngIf="contactOn">
                <app-contact [email]="email" (notif)="getName($event)"></app-contact>
              </div>
              <div *ngIf="Name!=''" class="d-flex justify-content-center">
                <h4> Thank you for trusting us! </h4>
                <h1> {{Name}}</h1>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
